<!doctype html>
<hmtl lang ="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section class="container">            
            <form method=post enctype=multipart/form-data>
                <!-- Header -->
                <header class="col-md-12" data-aos="zoom-in" data-aos-duration="500">
                    <h1 class="text-center" tabindex="0">Organizador de Excel</h1>
                </header>
                <hr />

                <!-- Inicio Encuesta -->
                <section class="seccion-container" data-aos="fade-right" data-aos-duration="750" data-aos-easing="ease-in-out">
                    <h3>Seleccione el archivo excel</h3>
                    <!-- <label id="label-edad" for="input-edad">Seleccione el archivo .txt</label> -->
                    <input id="input-edad" class="form-control-file" type=file name=excel required/>
                    
                </section>
                <hr/>
                <section>

                    <input class="btn btn-primary btn-lg" type=submit value=Upload>

                </section>
            </form>
        </section>
        
    </body>
</hmtl> 